[Desktop Entry]
Name= App Store
Comment=Install apps with one click
Exec=python3 /usr/local/bin/Ethereal-Store.py
Icon=org.gnome.Software
Terminal=false
Type=Application
Categories=System;Utility;
