[Desktop Entry]
Name= App Store
Comment=Install apps with one click
Exec=bash -c "cd ~/ethereal-update && python3 Ethereal-Store.py"
Icon=org.gnome.Software
Terminal=false
Type=Application
Categories=System;Utility;
