[Desktop Entry]
Type=Application
Name=🦊 Firefox Browser
Comment=Browse the Web securely
Exec=bash -c "cd ~/ethereal-update || cd /opt/EtherealOS-Core; bash launch-firefox.sh"
Icon=firefox
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
