[Desktop Entry]
Name=🚀 Ethereal Game Boost
Comment=EtherealOS Hyper-Threading Performance Engine
Exec=bash -c "cd ~/ethereal-update && python3 Ethereal-GameMode.py"
Icon=input-gaming
Terminal=false
Type=Application
Categories=System;Utility;
