[Desktop Entry]
Version=1.0
Type=Application
Name=🖥️ Hardware Manager
Comment=Manage EtherealOS Hardware Drivers
Exec=sudo /usr/local/bin/Ethereal-Hardware-Manager.sh
Icon=preferences-system-devices
Terminal=false
Categories=System;Settings;HardwareSettings;
