[Desktop Entry]
Version=1.0
Type=Application
Name= System Optimizer
Comment=Clean cache and memory buffers
Exec=bash /usr/local/bin/Ethereal-Optimize-Storage.sh
Icon=utilities-system-monitor
Terminal=false
Categories=System;
