[Desktop Entry]
Type=Application
Name=🪐 Update EtherealOS
Comment=Fetch latest system patches from GitHub
Exec=python3 /usr/local/bin/Ethereal-Update-Manager.py
Icon=system-software-update
Terminal=false
Categories=System;Settings;
Keywords=update;patch;ethereal;
