[Desktop Entry]
Type=Application
Name=🪐 Update EtherealOS
Comment=Fetch latest system patches from GitHub
Exec=bash -c "if [ -f ~/EtherealOS-Repo/Ethereal-Update-Manager.py ]; then python3 ~/EtherealOS-Repo/Ethereal-Update-Manager.py; else python3 /usr/local/bin/Ethereal-Update-Manager.py; fi"
Icon=system-software-update
Terminal=false
Categories=System;Settings;
Keywords=update;patch;ethereal;
