[Desktop Entry]
Version=1.0
Type=Application
Name=👋 Welcome to Ethereal
Comment=Your first-time setup and information
Exec=python3 /usr/local/bin/Ethereal-Welcome.py
Icon=help-about
Terminal=false
Categories=System;
